<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.Risk_Mng_MehrConnectionString"
            connectionString="Data Source=.;Initial Catalog=Risk_Mng;Persist Security Info=True;User ID=sa;Password=1024;"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.Risk_Mng_TAT_OLTPConnectionString"
            connectionString="Data Source=.;Initial Catalog=Risk_Mng;Persist Security Info=True;User ID=sa;Password=1024;"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.Risk_Mng_TAT_OLTPConnectionString1"
            connectionString="Data Source=.;Initial Catalog=Risk_Mng;Persist Security Info=True;User ID=sa;Password=1024;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>