<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ERMS.Logic.Properties.Settings.Risk_Mng_TATConnectionString1"
            connectionString="Data Source=192.168.20.100;Initial Catalog=Risk_Mng_Mehr;Persist Security Info=True;User ID=sa;Password=sa123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>